.loading-spinner {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 8px solid #e1e1e1;
  border-top: 8px solid #b388ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
