@import "/src/assets/style/theme.scss";

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  padding: $page-paddings;
  z-index: 2;
  .logo {
    height: 5.2rem;
    a {
      display: block;
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  .header-right {
    display: flex;
    gap: 0.8rem;
    .search-box {
      position: relative;
      .inp-box {
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        visibility: hidden;
        input[type="text"] {
          padding: 0;
        }
        .icon-btn.close {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.show {
        .inp-box {
          width: 30rem;
          visibility: visible;
          transition: width 0.3s;
          input[type="text"] {
            padding: 0 1.2rem;
          }
        }
      }
    }
    .btn-box {
      display: flex;
      gap: 0.8rem;
    }
  }
}
